@model SistemaIncidentesSeguridadEntidades.Login
@{
    Layout = "_LayoutAccount";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <img src="~/img/Logo.png" alt="TicketSend Logo" class="logo" />
        <form asp-action="IniciarSesion" asp-controller="Account" method="post" >
            <div class="form-group">
                <label asp-for="CorreoElectronico">Email:</label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contraseña">Contraseña:</label>
                <input asp-for="Contraseña" type="password" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    <a href="@Url.Action("Register", "Account")">¿No tienes una cuenta? Regístrate</a>

        <div class="text-center mt-4">
            <a class="d-flex justify-content-center align-items-center gap-2 text-decoration-none" href="/OpenIDConnect/LoginGoogle">
                <img src="~/img/Google.png" style="width: 30px; aspect-ratio: 1/1;" alt="Autenticate con" />
                <p class="m-0 text-">Iniciar sesión con Google</p>
            </a>
        </div>
    </div>
</body>
</html>